In [1]:
#import dependencies
import pandas as pd
import os

In [5]:
#make json file readers
jsonfile = pd.read_json("purchase_data.json")
jsonfile2 = pd.read_json("purchase_data2.json")

In [6]:
#make data frames with json
df1 = pd.DataFrame(jsonfile)
df2 = pd.DataFrame(jsonfile2)

In [7]:
#headers for dfs make sure they ran
df1.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [8]:
df2.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43